.content__title {
    font-weight: 700;
    font-size: 36px;
}

.content__subtitle {
    font-size: 24px;
    font-weight: 400;
}

.copy__specifications {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
    margin-top: 50px;
}

.btn__specifications {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
}
