:root {
    --main-color: black;
}

body {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: 1%;    
}

h1 {
    font-family: 'Noto', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 39.6px;
    text-align: center;
}

h2 {
    font-size: 24px;
    line-height: 26.4px;
}

a {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 17.6px;          
}
